%header
    #info
        %h1 MD SHAHIN PATOWARY 
        %h2 Junior Full Stack Web Developer
    = partial 'partials/navbar'

.container
    .section-heading 
        About Me
    = partial 'partials/about-me'

    .section-heading 
        Projects
    = partial 'partials/projects'

    .section-heading 
        Contact Me
    = partial 'partials/forms'

%footer
    = partial 'partials/navbar'
    = partial 'partials/footer'
    