%header
    #info
        %h1 MD SHAHIN PATOWARY
        %p 
    = partial 'partials/navbar'

.container
    .heading About Me
    = partial 'partials/about-me'
    
    .heading Projects
    = partial 'partials/projects'

    .heading Contact Me
    = partial 'partials/forms'

%footer
    = partial 'partials/footer'
    
    