%header
    #info
        %h1 Md Shahin Patowary 
        %p Junior Full Stack Web Developer
    = partial 'partials/navbar'

.container
    .heading About Me
    = partial 'partials/about-me'
    
    .heading Projects
    = partial 'partials/projects'

    .heading Contact Me
    = partial 'partials/forms'

%footer
    = partial 'partials/navbar'
    = partial 'partials/footer'
    